VITE_APP_BASE=/
VITE_APP_NAME=Grtblog Admin
VITE_APP_TITLE=管理后台
VITE_WATERMARK_CONTENT=
VITE_API_BASE_URL=/api/v2
VITE_API_PROXY_TARGET=http://localhost:8080
VITE_RENDERER_BASE_URL=http://localhost:3000
VITE_OSM_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
